@font-face {
  font-family: bebas;
  src: url("../font/BebasNeue-Regular.ttf");
}

h1.titulo{
  font-family: bebas;
  font-size: 80;
  font-weight: normal;
  margin-top: 100;
  color: #ffffff;
}

input.txt_login{
    margin: 10;
    font-size: 20;

    padding: 4;
    font-family: Arial;
    width: 250;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 40;
    border: 3px solid #bbbbbb;
    border-radius: 15px 5px;

}

img.carro{
    max-height: 80px;
    max-width: 300px;
    width: auto;
    height: auto;
    background-color: white;
    padding: 10;
    border-radius: 15px 5px;
}

input.btn_login{
    color: #eeeeee;
    font-family: bebas;
    font-size: 20;
    border-color: #bbbbbb;
    background-color: #aaaaaa;

    display:block;
    width: 250;
    margin: 10;
    margin-left: auto;
    margin-right: auto;


    height: 40;
    padding: 4;
    border: 3px solid #bbbbbb;
    border-radius: 15px 5px;
}

h1.Intro{
  font-family: bebas;
  font-size: 50;
  font-weight: normal;
  color: #ffffff;
}

div.Header{
  display: block;
  width: 100%;
  height: 15%;
}

div.Menu{
  display: inline-block;
  top: 15%;
  width: 100%;
  height: auto;
  min-width: 150px;
}

div.Workspace{
  display: inline-block;
  width: 100%;
  height: auto;
}

iframe{
  width: 100%;
  height: 100%;
  border: none;
}

button.opc{
  margin: 10;
  font-size: 20;
  display: inline;
  padding: 4;
  font-family: bebas;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #bbbbbb;
  border-radius: 15px 5px;
}

input.carro{
  border: 3px solid #bbbbbb;
  display: block;
}
